<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Harry Potter</mat-card-title>
      <mat-card-subtitle>Hogwarts</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imagens/corvinal.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Sábia e velha corvinal. A casa dos que têm a mente sempre alerta, onde os homens de grande espírito e saber sempre encontrarão companheiros seus iguais.
      </p>
    </mat-card-content>
  </mat-card>


  
  
  

  
  
